{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Python Pro - Home{% endblock title %}</title>

{% block body %}

<div class="container">
<div class="row">
	  <div class="col-md-12">
		  <div class="jumbotron">
			  <h2>
				  Curso de Python com Luciano Ramalho
			  </h2>
			  <h4 class="mt-4">Matriculas Abertas</h4>
				<!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7X1GSQixG/button" target="_blank"
													 title="Pagar com PagSeguro"><img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
																					  alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- FIM DO BOTAO PAGSEGURO -->
			  <h4 class="mt-4">Entre na fila de espera</h4>
			  <div id="mc_embed_signup">
			  <form action="https://herokuapp.us1.list-manage.com/subscribe/post?u=c9ebb35683f5036c5a920ea16&amp;id=9d83ab47c1"
	  					method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
	  					class="form-row align-items-center" target="_blank" novalidate>
  					<div class="col-auto">
    					<label class="sr-only" for="mce-EMAIL">Email</label>
    					<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@gmail.com.br">
  					</div>
					<div class="col-auto">
    					<label class="sr-only" for="mce-FNAME">First Name</label>
    					<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
  					</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
																								  name="b_c9ebb35683f5036c5a920ea16_9d83ab47c1"
																								  tabindex="-1"
																								  value=""></div>
				    <div class="col-auto">
						<input type="submit" value="Subscribe" name="subscribe"
								   id="mc-embedded-subscribe" class="btn btn-primary"></div>
				</form>
			</div>
		  </div>
				<p class="col-md-12">
					Confira em breve mais informações sobre o curso que será ministrado por Luciano Ramalho
				</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho" class="img-thumbnail float-left mr-3"/>
						Luciano Ramalho é programador Python desde 1998, autor do livro <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python Fluente</a>.
						Fellow da Python Software Foundation; é sócio do Python.pro.br – uma empresa de treinamento – e cofundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
					</p>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}
